<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hns.learn.mapper.BizCanvasMapper">


    <select id="getMaxWorkDate" resultType="java.lang.String">
        SELECT
        to_char(MAX (mem.workdate),'yyyy-mm-dd hh24:mi:ss') workdate
        FROM INF_AFPCMEM mem
        <where>
            <if test="endDate != null and endDate != ''">
                AND (mem.workdate &lt;= TO_DATE(#{endDate},'yyyy-mm-dd hh24:mi:ss'))
            </if>
        </where>
    </select>

    <select id="selEffectGrant" resultType="java.util.Map">
        SELECT t.* FROM BIZ_DEBT_GRANT t
		WHERE t.ident_number=#{mediumid}
		AND NOT EXISTS (SELECT 1 FROM BIZ_TRN trn WHERE (t.id_ = trn.objinr and trn.objtyp='BIZ_DEBT_GRANT' and trn.biz_status IN ('6','12')))
    </select>
    <select id="selTables" resultType="java.util.Map">

        select
         t1.table_name  as "表名",
         t3.comments    as "表说明",
         t1.column_name as "字段名称",
         --t1.data_type || '(' || t1.data_length || ')'  as "数据类型",
         t1.DATA_SCALE ,
         t1.data_type   as "类型",
         t1.data_length as "长度",
         t1.nullable    as "为空",
         t2.comments    as "描述",
        CASE inx.isInx
        WHEN 1 THEN '是'
        ELSE '否'
        END "索引",
         t1.TABLE_NAME,
         t1.COLUMN_NAME,
         t1.DATA_TYPE,
         t1.DATA_TYPE_MOD,
         t1.DATA_TYPE_OWNER,
         t1.DATA_LENGTH,
         t1.DATA_PRECISION,
         t1.DATA_SCALE,
         t1.NULLABLE,
         t1.COLUMN_ID,
         t1.DEFAULT_LENGTH,
         t1.NUM_DISTINCT,
         t1.LOW_VALUE,
         t1.HIGH_VALUE,
         t1.DENSITY,
         t1.NUM_NULLS,
         t1.NUM_BUCKETS,
         t1.LAST_ANALYZED,
         t1.SAMPLE_SIZE,
         t1.CHARACTER_SET_NAME,
         t1.CHAR_COL_DECL_LENGTH,
         t1.GLOBAL_STATS,
         t1.USER_STATS,
         t1.AVG_COL_LEN,
         t1.CHAR_LENGTH,
         t1.CHAR_USED,
         t1.V80_FMT_IMAGE,
         t1.DATA_UPGRADED,
         t1.HISTOGRAM,t2.*
          from cols t1
          left join user_col_comments t2
            on t1.table_name = t2.table_name
           and t1.column_name = t2.column_name
          left join user_tab_comments t3
            on t1.table_name = t3.table_name
          left join user_objects t4
            on t1.table_name = t4.object_name
        left join (select 1 as isInx,column_name,table_name
                    from user_ind_columns
                    where index_name in (select distinct ui.INDEX_NAME
                    from user_indexes ui --where ui.table_name = 'BIZ_DEBT_MAIN'
                  )
        ) inx
        on inx.COLUMN_NAME=t1.column_name and inx.table_name=t1.table_name
         where not exists (select t4.object_name
                  from user_objects t4
                 where t4.object_type = 'TABLE'
                   and t4.temporary = 'Y'
                   and t4.object_name = t1.table_name)
        <if test="tableName != null and tableName != ''">
            AND t1.table_name = #{tableName}
        </if>
         order by t1.table_name, t1.column_id


    </select>

    <select id="selectGrantInfo"  resultType="java.util.Map">
        SELECT
        TO_CHAR (t.objinr) ID_,
        t.ownref || replace(lpad(to_char(t.vernum_),3),' ','0') as GRANT_CODE,
        appr.PROPOSER as PROPOSER,
        appr.BUSINESS_NAME,
        appr.GRANT_CURRENCY as CURRENCY,
        t.CREATE_BY as CREATE_BY,
        appr.GRANT_AMT as GRANT_AMT,
        appr.GRANT_SCOPE_B_PERIOD as SCOPE_BUSIN_PERIOD,
        t.biz_status as GRANT_STATUS,
        appr.IDENT_NUMBER as IDENT_NUMBER,
        t.CREATE_TIME,
        t.UPDATE_TIME,
        appr.INSTITUTION_CODE as INSTITUTION_CODE,
        t.vernum_
        FROM
        BIZ_TRN t
        LEFT JOIN BIZ_APPRSUMMARY_INFO appr
        ON (t.ownref = appr.GRANT_CODE and t.vernum_ = appr.vernum_ and t.ENABLE_ !=0)
        LEFT JOIN
        SYS_DEPT AA
        ON
        (t.bchkeyinr = AA.CODE_)

        <where>
            <if test="cm.deptCode != null and cm.deptCode != ''">
                AND (appr.INSTITUTION_CODE like '%'||#{cm.deptCode}||'%')
            </if>
            <if test="cm.schemeNum != null and cm.schemeNum != ''">
                AND (t.ownref || replace(lpad(to_char(t.vernum_),3),' ','0') like '%'||#{cm.schemeNum}||'%')
            </if>
            <if test="cm.grantStatus != null and cm.grantStatus != ''">
                AND (t.biz_status = #{cm.grantStatus})
            </if>
            <if test="cm.grantLoseState9 != null and cm.grantLoseState9 != ''">
                AND (t.biz_status &lt;&gt; #{cm.grantLoseState9})
            </if>
            <if test="cm.grantLoseState11 != null and cm.grantLoseState11 != ''">
                AND (t.biz_status &lt;&gt; #{cm.grantLoseState11})
            </if>
            <if test="cm.grantLoseState12 != null and cm.grantLoseState12 != ''">
                AND (t.biz_status &lt;&gt; #{cm.grantLoseState12})
            </if>
            <if test="cm.businessName != null and cm.businessName != ''">
                AND (appr.BUSINESS_NAME like '%'||#{cm.businessName}||'%')
            </if>
            <if test="cm.applicant != null and cm.applicant != ''">
                AND (appr.PROPOSER like '%'||#{cm.applicant}||'%')
            </if>
            <if test="cm.grantcode != null and cm.grantcode != ''">
                AND (t.OWNREF like '%'||#{cm.grantcode}||'%')
            </if>
            <if test="cm.projectNam != null and cm.remark_ != ''">
                AND (t.OBJNAM like '%'||#{cm.remark_}||'%')
            </if>
            <if test="cm.deptCode != null and cm.deptCode != ''">
                AND (AA.CODE_ like '%'||#{cm.deptCode}||'%')
            </if>
            <if test="cm.stateTime != null and cm.stateTime != ''">
                AND (t.CREATE_TIME &gt;= TO_DATE(#{cm.stateTime}||'00:00:00','yyyy-mm-dd hh24:mi:ss'))
            </if>
            <if test="cm.endTime != null and cm.endTime != ''">
                AND (t.CREATE_TIME &lt;= TO_DATE(#{cm.endTime}||'23:59:59','yyyy-mm-dd hh24:mi:ss'))
            </if>
            <if test="cm.relflg != null and cm.relflg != ''">
                AND t.RELFLG = #{cm.relflg}
            </if>
            <if test="cm.relres != null and cm.relres != ''">
                AND t.RELRES = #{cm.relres}
            </if>
        </where>
    </select>

</mapper>