<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hns.learn.mapper.InfComprehensiveMapper">


    <select id="getAll" resultType="com.hns.learn.entity.InfComprehensive">
        SELECT c.*
        FROM inf_comprehensive c
        INNER JOIN (SELECT t.mediumid, MAX(t.duedate) AS duedate
                    FROM inf_comprehensive t
                    WHERE t.duedate &lt;= #{cm.dueDate}
                    <if test="cm.grantCode != null and cm.grantCode != ''">
                        AND (t.grant_code LIKE '%'||#{cm.grantCode}||'%' or t.IOUCODE LIKE '%'||#{cm.grantCode}||'%' or t.MEDIUMID LIKE '%'||#{cm.grantCode}||'%')
                    </if>
                    <if test="cm.beginDate != null and cm.beginDate != ''">
                        AND t.valueday &gt;= #{cm.duedate}
                    </if>
                    <if test="cm.endDate != null and cm.endDate != ''">
                        AND t.valueday &lt;= #{cm.duedate}
                    </if>
                    <if test="cm.coneNo != null and cm.coneNo != ''">
                        AND t.coneno LIKE '%'||#{cm.coneNo}||'%'
                    </if>
                    <if test="cm.deptCode != null and cm.deptCode != ''">
                        AND t.deptcode LIKE '%'||#{cm.deptCode}||'%'
                    </if>
                    GROUP BY t.mediumid) tmp ON (c.mediumid = tmp.mediumid AND c.duedate = tmp.duedate)

    </select>

    <select id="getAllMap" resultType="java.util.Map">

        select * from Inf_Comprehensive

    </select>


</mapper>